@media (max-width: 1160px) {
    .container {
        width: 96%;
    }
    
    .header__content img {
        display: none;
    }
  }

  @media (max-width: 760px) {
    .header__content {
        flex-direction: column;
    }
  }
