@media (max-width: 1160px) {
    .container {
        width: 96%;
    }
    
    .header__content img {
        display: none;
    }
  }

  @media (max-width: 760px) {
    .header__content {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .header__content p {
        text-align: center;
    }

    .header__content h2 {
        text-align: center;
    }

    .header__info {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }

    .header__info a {
        margin: 0 auto;
    }

    .header__info button {
        margin-bottom: 30px;
    }

    .e-osago-description {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .guide__content {
        display: block;
    }

    .guide__content img {
        width: 30%;
    }

    .guide-items div {
        padding: 10px;
    }

    .guide-items p {
        font-size: 0.9em;
    }

    .experience__content {
        flex-direction: column;
    }

    .experience__items {
        width: 100%;
    }

    .experience__item {
        min-height: 100px;
    }

    .partners {
        margin-top: 40px;
    }

    footer {
        background-image: none;
    }

    .contacts {
        width: 100%;
    }
  }
